doctype html
html
  head
    title Diagnostics Clinic
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/reload-client.js')

  body
    h1 Hello world!
